@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

main {
    height: 90vh;
    /* width: 100vw; */
    background-image: url("./../asset/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
}

.backgroundblack {
    height: 90vh;
    opacity: 0.70;
    background-color: black;
    position: absolute;
    top: 0px;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    gap: 20vw;
}

nav img {
    z-index: 1;
}

.nav-buttons {
    z-index: 1;
}

.red-si {
    background-color: red;
    color: white;
    margin: 0px 10px;

}

.btn {
    font-family: sans-serif;
    font-weight: 600;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 7px;

}

main .content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1;
    position: relative;
    gap: 14px;
    font-family: "Poppins", sans-serif;
    margin: 200px 0px;
}

.content-main> :first-child {
    font-size: 56px;
    font-weight: 900;

}

.content-main> :nth-child(2) {
    font-size: 20px;
    font-weight: 500;

}

.content-main> :nth-child(3) {
    font-size: 15px;
    font-weight: 400;

}

.email-buttons label {
    position: absolute;
    top: 18px;
    left: 20px;
    color: white;
    transition: 0.5s;
}

input:focus~label,
input:not(:placeholder-shown)~label {
    transform: translateY(-10px);
    font-size: 10px;
}

.email-buttons {
    position: relative;
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.email-buttons input {
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: small;
    width: 350px;
    border-radius: 5px;
    background: transparent;
    background-color: rgba(22, 22, 22, 0.7);
    color: white;
}

.red-started {
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

}

.line {
    background-color: gray;
    height: 10px;
    position: relative;
    top: 0px;
}


.container-ads {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
    padding: 0px 150px;
    height: 640px;

}

.content-section-1 {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    position: relative;
    top: 0px;
    gap: 30px;
}

.content-section-1>:first-child {
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    align-self: flex-start;
}

.content-section-1>:nth-child(2) {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    align-self: flex-start;
}

.ads-1 img {
    position: relative;
    top: 110px;
    z-index: 10;
}

.ads-1 video {
    position: relative;
    top: -277px;
    left: 85px;
    display: flex;
}

.ads-2 img {
    position: relative;
    top: 0px;
}

.container-ads-2 {
    gap: 0px;
}
.bottom{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: black;
    padding: 35px;
    font-family: "Poppins", sans-serif;
}
ul{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.bottom ul li {
    list-style: none;
    padding: 24px;
    background-color: #2d2d2d;
    max-width: 60vw;
    width: 70vw;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
ul li svg{
    align-self: flex-end;
    fill: white;
}
.footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    gap: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    
}
.fooot{
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    left: -190px;
}
.footer h3{
    align-self: center;
    position: relative;
    left: -122px;
}
.foot{
    display:flex;
    flex-direction: row;
    align-self: baseline;
    gap: 150px;
    max-width: 60vw;
}
.footer ul li{
    list-style: none;
    align-self: flex-start;
    text-decoration: underline;
    font-size: 10px;
}